<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{data?.name}}</mat-card-title>
  </mat-card-header>
  <div class="description-content-item">

    <div class="description-content">
      <span class="description-content-title">Diameter: </span>
      <span class="description-content-text">{{data?.diameter}}</span>
    </div>

    <div class="description-content">
      <span class="description-content-title">Climate: </span>
      <span class="description-content-text">{{data?.climate}}</span>
    </div>
  </div>
</mat-card>

