<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{data?.name}}</mat-card-title>
  </mat-card-header>
  <div class="description-content-item">

    <div class="description-content">
      <span class="description-content-title">Birthday: </span>
      <span class="description-content-text">{{data?.birth_year}}</span>
    </div>

    <div class="description-content">
      <span class="description-content-title">Height: </span>
      <span class="description-content-text">{{data?.height}}</span>
    </div>
    <div class="description-content">
      <span class="description-content-title">Mass: </span>
      <span class="description-content-text">{{data?.mass}}</span>
    </div>
    <div class="description-content">
      <span class="description-content-title">Gender: </span>
      <span class="description-content-text">{{data?.gender}}</span>
    </div>
  </div>
</mat-card>

