table {
  width: 100%;
  //transform: skewY(0deg) skewX(-18deg);

}

.tbody-row:hover {
  cursor: pointer;
}

.tbody-row:hover {
  background: rgb(142, 133, 108);;
}

.custom-icon .material-icons{
  position: relative;
  cursor: pointer;
  top: 7px;
}

.custom-icon:hover{
  background: gray;
}

.delimiter{
  padding-bottom: 20px;
}
