<div>
  <button mat-raised-button (click)="incrementStore()">Increment</button>
  <button mat-raised-button (click)="decrementStore()">Decrement</button>
  <div>result is : {{counter | async}}</div>
</div>

<app-header-section></app-header-section>

<!--<div style="position: relative; height: 100%">-->

<!--  <app-content-section style="position: relative">-->
<!--    <app-people-list [dataSource]="peopleListData"></app-people-list>-->
<!--  </app-content-section>-->

<!--  &lt;!&ndash;spinner&ndash;&gt;-->
<!--  <app-spinner *ngIf="isShowSpinner"></app-spinner>-->
<!--</div>-->
